doctype html
html(lang="en")
    head
        title="Document page"
    body
        .header
            .h1.header__title Page title
            .nav
                ul.nav__items
                    li
                        a.nav__link(href="#link1") link1
                    li
                        a.nav__link(href="#link2") link2
                    li
                        a.nav__link(href="#link3") link3
        .main
            .main__content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ducimus enim vero, provident earum eos explicabo iste, porro esse repellendus, veritatis consequatur atque suscipit laborum. Aperiam ex eveniet reiciendis qui!
        .footer
            h2.footer__title Footer here!
            img(src="./instagram.png", alt="")
